{% extends 'cm_base.html.twig' %}

{% block title %}Show cocktail{% endblock title %}

{% block body %}
    {% include 'components/navbar.html.twig' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 py-5">
                <div class="d-flex justify-content-between align-items-center mb-5">
                    <h2>Ingredient details</h2>
                    <div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('ingredient_edit', { 'id': ingredient.id })|escape }}"
                               class="btn btn-warning rounded-0">
                                Edit
                            </a>
                        {% endif %}
                        <a href="{{ path('ingredients_index')|escape }}" class="btn btn-darker rounded-0">Return to list</a>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <label class="mb-1" for="ingredient_name">Name:</label>
                    <div class="p-4 form-control rounded-0 disabled" id="ingredient_name">
                        {{ ingredient.name }}
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <label class="mb-1" for="ingredient_cocktails">Cocktails that contain this ingredient:</label>
                    <div class="p-4 form-control rounded-0 disabled" id="ingredient_cocktails">
                        {% if ingredient.cocktails|length > 0 %}
                            {% set counter = 1 %}
                            {% for cocktail in ingredient.cocktails %}
                                <a href="{{ path('cocktail_show', { 'id': cocktail.id })|escape }}">{{ cocktail.name }}</a><span id="comma-{{ counter }}">,&nbsp;</span>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        {% else %}
                            <span class="text-danger">This ingredient isn't associated with any of the cocktails in the database.</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script type="text/javascript" nonce="{{ csp_nonce() }}">
        document.addEventListener('DOMContentLoaded', function() {
            let commas = $('span[id^="comma-"]');
            commas[commas.length - 1].remove();
        });
    </script>
{% endblock javascripts %}