{% extends 'cm_base.html.twig' %}

{% block title %}Change password{% endblock title %}

{% block body %}
    {% include 'components/navbar.html.twig' %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center register-wrapper">
            <div class="col-11 col-md-8 col-lg-5 text-center">
                <h1 class="mb-5">Change password</h1>
                {% if not form.vars.valid %}
                    <div class="row">
                        <div class="col-12 mb-3 py-3 px-4 alert alert-danger text-left">
                            {% if not form.vars.valid %}
                                {% for error in form.vars.errors.form.getErrors(true) %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <form action="{{ form.vars.action|escape }}" method="POST" class="mb-2" id="change-password-form" novalidate>
                    <input type="hidden" name="_method" value="PATCH">
                    <div class="row">
                        <div class="col-12 p-0">
                            {{ form_widget(form.children.oldPassword, { 'attr': { 'class': 'w-100', 'placeholder': 'Old password' }}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            {{ form_widget(form.children.newPassword.children.first, { 'attr': { 'class': 'w-100', 'placeholder': 'New password' } }) }}
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            {{ form_widget(form.children.newPassword.children.second, { 'attr': { 'class': 'w-100', 'placeholder': 'Repeat password' } }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            {{ form_widget(form._token) }}
                            <button type="submit" class="btn btn-darker w-100" id="{{ form.children.submit.vars.id }}"
                                    name="{{ form.children.submit.vars.full_name }}">
                                Save changes
                                <img src="{{ asset('assets/img/svg/cm_logo.svg')|escape }}"
                                     alt="Cocktail Manager Logo" class="img-fluid ml-2" style="width: 1.25rem;">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}